<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>My Movies</title>
</head>
<body>
  <h1>My Movies</h1>
  <ul>
    <li><%= @movie.title %></li>
  </ul>

  <a href="#">Add new movie</a>
</body>
</html>